.exercise-list-container {
  width: 1800px;
  height: 1800px;
  margin: 0%;
  padding: 4%;
  display: grid;
  grid-template-rows: repeat(auto-fit, 200px);
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 50 px;
  grid-auto-flow: row;
  align-items: stretch;
}

.exercise-details {
  border: 7px solid #000;
  border-radius: 5%;
  padding: 10px;
}
