.register-form {
  max-width: 400px;
  margin: 4vh auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(70, 138, 227, 0.616);
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.7);
  border-width: 3px;
  border-style: solid;
  border-color: #fdfdfd;
}

.register-form input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register-form button {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #32322f;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}

/*******************  MÓVIL  **********************/

@media (max-width: 768px) {
  .register-form {
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(70, 138, 227, 0.616);
  }
}

