.GymFont {
  font-family: "Black Ops One", system-ui;
  font-size: 5rem;
  color: #fdfdfd;
  text-shadow: 10px 10px 10px #0016a5;
}
.GymFont2 {
  font-family: "Black Ops One", system-ui;
  font-size: 2rem;
  color: #fdfdfd;
  text-shadow: 0px 8px 9px #0016a5;
}
img {
  object-fit: fill;
  object-position: 0% 0%;
}
@media (max-width: 768px) {
  .GymFont,
  h2,
  h3 {
    font-size: 1rem;
  }
}
